<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
</head>
<body>
    <div class="container__about">
        <div class="container__about__title-div">
            <img src="../../images/aniruddha.jpg" alt="User photo">
            <div class="container__about__title-details">
                <h1>Aniruddha Pradhan</h1>
                <h3>Software Intern at Axeno</h3>
                <nav>
                    <a href=""><img src="../../images/facebook.png" alt="facebook logo"></a>
                    <a href=""><img src="../../images/instagram.png" alt="instagram logo"></a>
                    <a href=""><img src="../../images/linkedin.png" alt="linkedin logo"></a>
                    <a href=""><img src="../../images/twitter.png" alt="twitter logo"></a>
                </nav>
            </div>
        </div>
        <div class="container__about__info-div">
            <p>Tech enthusiast and B.Tech student in Computer Science. Committed to innovative
                solutions and positive impact.  dignissimos esse inventore numquam eum nam harum magnam doloribus nemo rem. At porro maiores reprehenderit fugit. Sint dolorum qui amet dolor? In laudantium dolorem fuga nisi sequi! Facilis obcaecati velit commodi placeat odio, omnis pariatur consequuntur rem accusamus distinctio necessitatibus debitis, autem sunt quos vero dicta. Dicta tenetur fugiat recusandae eum. Vero voluptatibus laborum aperiam cumque atque temporibus aliquid eligendi dolorem odio, sint architecto!</p>
        </div>
    </div>
</body>
</html>