
    <div class="container__contact">
        <div class="container__contact__div">
            <form id="form">
                <div class="input_class">
                    <label for="name">Name</label>
                    <input id="name" type="text" placeholder="Enter Your Name" name="name">
                    <div class="error error_name"></div>
                </div>
                
                
                <div class="input_class"> 
                    <label for="email">Email</label>
                    <input id="email" type="text" placeholder="Enter your Email" name="email" >
                    <div class="error error_email"></div>
                </div>
                
                <div class="input_class">
                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="Enter your password" name="password" >
                    <div class="error error_password"></div>
                </div>
                
                <div class="input_class">
                    <label for="phone">Phone No</label>
                    <input id="phone" type="number" placeholder="Enter your phone number" name="phone">
                    <div class="error error_phone"></div>
                </div>
                
                <input id="submit" type="submit">
            </form>
        </div>
    </div>
    <script src="./contact.js"></script>