
    <div class="container__footer">
        <div class="container__footer--title">
            <div class="footer-title__nav">
                <ul>
                    <li><a id="homeFooter">Home</a></li>
                    <li><a id="aboutFooter">About</a></li>
                    <li><a id="contactFooter">Contact</a></li>
                </ul>
            </div>
            <div class="footer-title__socials">
                    <a href="https://www.instagram.com/" target="_blank"><img src="../../images/instagram.png" alt="Instagram Icon"></a>
                    <a href="www.linkedin.com/in/aniruddha-pradhan05122003" target="_blank"><img src="../../images/linkedin.png" alt="Linkedin Icon"></a> 
                    <a href="https://x.com/?lang=en" target="_blank"><img src="../../images/twitter.png" alt="Twitter Icon"></a>
            </div>
        </div>
        <div class="container__footer--message">
            <p>&copy This website belongs to Anirudhha Pradhan</p>
        </div>
    </div>
