*{
    font-family: Poppins;
}
.banner{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.container__banner{
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 200px;
    padding-left: 10%;
    display: flex;
    align-items: center;
    h2{
        color: white;
        font-size: 40px;
        background: transparent;
        @media(max-width : 768px){
            font-size: 25px;
        }
    }
    @media (max-width : 768px) {
        height: 100px;
    }
    
}